@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to top, var(--cor1), var(--cor2));
  }

  main#container {
    width: 90vw;
  }

  main#container > div#imagem {
    float: left;
    width: 30%;
    height: 302.88px;
    background-position: center center;
  }

  main#container > div#formulario {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(to top, var(--cor1), var(--cor2));
  }

  main#container {
    width: 950px;
  }

  main#container > div#imagem {
    float: right;
    width: 50%;
    height: 340px;
  }

  main#container > div#formulario {
    float: left;
    width: 50%;
  }

  main#container div#formulario h1 {
    font-size: 2em;
  }

  main#container div#formulario p {
    font-size: 1em;
    margin: 20px 0px;
  }
}
